
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 페이지</title>
</head>

<body>
    <h1>댓글 목록</h1>
    <ul>
        <% for (comment of comments) { %>
            <li id="comments-{{id}}">
                <%= comment.id %>
                    <%= comment.content %>
            </li>
            <form action="/update/<%= comment.id %>" method="post">
                <input type="text" name="content">
                <input type="submit" value="수정하기">
            </form>
            <form action="/delete/<%= comment.id %>" method="post">
                <input type="submit" value="삭제하기">
            </form>
            <% } %>
    </ul>
    <h2>댓글 작성</h2>
    <form action="/create" method="post">
        <input type="text" name="content" placeholder="댓글을 입력하세요">
      
        <input type="submit" value="작성하기">
    </form>
</body>

</html>
